* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-image: url("/assets/backgroundImage.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    margin-bottom: 10px;
}

.searchBar {
    --width: calc(100% - 80px);
    width: 30%;
    position: relative;
}

#searchBarInput {
    width: var(--width);
    height: 50px;
    font-size: 20px;
    margin: 0 40px;
    padding: 10px;
    text-overflow: ellipsis;
}

#searchSuggestions {
    width: var(--width);
    margin: 0 40px;
    list-style: none;
    position: absolute;
    top: 100%;
    /*border: 1px solid black;*/
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
}

#searchSuggestions li {
    font-size: 20px;
    padding: 10px;
}

#searchSuggestions li:nth-child(even) {
    background-color: #eee;
}

#searchSuggestions li:hover {
    background-color: rgb(255 255 0 / 0.2);
}

#searchSuggestions li.highlighted {
    --border-size: 3px;

    background-color: rgb(255 255 0 / 0.2);
    border-left: var(--border-size) solid rgb(255 213 0);
    border-radius: 5px 0 0 5px;
    translate: calc(var(--border-size) * -1) 0;
    width: calc(100% + var(--border-size));
    transition: translate 0.1s;
}

#pokemonContainer {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px 20px;
}