@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

main {
    background-image: url("./assets/backgroundImage.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: var(--icon-color, white);
}

header {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: auto 30%;
    gap: 34px;
    align-items: center;
    margin-bottom: 30px;
}

#titleHolder {
    display: flex;
    align-items: center;
    padding: 30px 40px;
    gap: 15px;
    background-color: rgb(255 255 255 / 0.25);
    box-shadow: 0 1px 10px rgb(0 0 0 / 0.1);
    border-radius: 0 0 150px 10px;
    width: 100%;
    height: 100%;
}

#logo {
    width: 45px;
    aspect-ratio: 1 / 1;
    animation: jiggle 10s linear;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.2));
}

@keyframes jiggle {
    0%, 4%, 8% {
        transform: rotate(0deg);
    }
    2% {
        transform: rotate(30deg);
    }
    6% {
        transform: rotate(-30deg);
    }
}

#logo.loading {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#title {
    font-family: "Chewy", system-ui;
    font-size: 40px;
    color: #ffe355;
    text-shadow: 1px 1px 1px blue, -1px -1px 3px red, -1px 1px 1px blue, 1px -1px 3px red, 3px 3px 5px rgb(0, 0, 0, 0.2);
}

.searchBar {
    --width: calc(100% - 80px);
    width: 100%;
    position: relative;
}

#searchBarInput {
    width: var(--width);
    height: 50px;
    font-size: 20px;
    margin: 0 40px;
    padding: 10px 15px;
    text-overflow: ellipsis;
    background-color: whitesmoke;
    border: 1px ridge black;
}

#searchBarInput::placeholder {
    color: #8e8d8d;
    font-size: 16px;
    font-style: italic;
}

#searchSuggestions {
    width: var(--width);
    margin: 0 40px;
    list-style: none;
    position: absolute;
    top: 100%;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 100;
}

#searchSuggestions li {
    font-size: 20px;
    padding: 10px;
}

#searchSuggestions li:nth-child(even) {
    background-color: #eee;
}

#searchSuggestions li:hover {
    background-color: rgb(255 255 0 / 0.2);
}

#searchSuggestions li.highlighted {
    --border-size: 3px;

    background-color: rgb(255 255 0 / 0.2);
    border-left: var(--border-size) solid rgb(255 213 0);
    border-radius: 5px 0 0 5px;
    translate: calc(var(--border-size) * -1) 0;
    width: calc(100% + var(--border-size));
    transition: translate 0.1s;
}

.light-solid-color, .dark-solid-color {
    background-color: var(--icon-color, white);
    background-blend-mode: overlay;
}

.light-solid-color {
    background-image: linear-gradient(to right, #dadada, #dadada);
}

.dark-solid-color {
    background-image: linear-gradient(to right, #CCCCCC, #CCCCCC);
}

#pokemonContainer {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px 20px;
}

footer {
    height: 100px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin-top: 50px;
    border-top: 3px solid var(--icon-color, transparent);
}