@media screen and (max-width: 700px) {

    .pokemonCard {
        border-radius: 5px;
        border: 2px solid var(--icon-color);
        box-shadow: none;
        width: 100%;
        min-width: auto;
        height: max-content;
        min-height: max-content;
        grid-template-columns: auto 75%;
        grid-template-rows: auto;
    }

    .pokemonCard .pokemonImg {
        width: 100%;
        padding: 5px;
    }

    .pokemonCard .pokemonDetails {
        width: 100%;
        border-top: none;
        border-left: 2px solid var(--icon-color);
        box-shadow: none;
        background-color: var(--icon-color);
        background-blend-mode: overlay;
        background-image: linear-gradient(to right, #dadada, #dadada);
    }

    .pokemonCard .pokemonName {
        font-size: 16px;
        font-style: italic;
    }

}