.pokemonProfile {
    width: 100%;
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: auto 525px;
}

.pokemonProfile .detailsSection {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.pokemonProfile .detailsSection .pokemonName {
    font-size: 3em;
    margin: 5px 0;
    /*color: whitesmoke;*/
    /*text-shadow: 2px 2px 2px rgb(0 0 0 / 0.4);*/
    color: black;
}

.pokemonProfile .detailsSection .pokemonID {
    color: #505050;
}

.pokemonProfile .detailsSection .pokemonStats {
    margin-block: 40px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    padding: 0 20px;
}

.pokemonProfile .detailsSection .pokemonStats .pokemonStat {
    --value: 70%;

    display: grid;
    grid-template-columns: auto 80%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.pokemonProfile .detailsSection .pokemonTypes {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    /*font-size: 16px;*/
    /*color: whitesmoke;*/
    /*text-shadow: 1px 1px 1px rgb(0 0 0 / 0.4);*/
}

.pokemonProfile .detailsSection .pokemonDescription {
    margin: 20px 10px;
    font-size: 18px;
    color: #3a3a3a;
}

.pokemonProfile .imageSection {

}

.pokemonProfile .imageSection .pokemonImage {
    margin-top: 25%;
}

.strengthBar {
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: #f3f3f3;
    position: relative;
    border-radius: 10px;
}

.strengthBar .strength {
    display: inline-block;
    width: var(--value);
    height: 100%;
    background-color: crimson;
    position: absolute;
    left: 0;
    border-radius: 10px;
}

.moreInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    width: 50%;
    border-radius: 5px;
    background: rgb(255, 255, 255, 0.40);
}

.infoBox {
    font-size: 17px;
    color: #3a3a3a;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoBox .infoValue {
    border: 2px solid #636363;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}