.pokemonProfile {
    width: 100%;
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: auto 525px;
}

.pokemonProfile .detailsSection {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.pokemonProfile .detailsSection .pokemonID {
    color: #505050;
    display: block;
}

.pokemonProfile .detailsSection .pokemonName {
    font-size: 3em;
    margin: 5px 0;
    /*color: whitesmoke;*/
    /*text-shadow: 2px 2px 2px rgb(0 0 0 / 0.4);*/
    color: black;
    display: inline-block;
}

.pokemonProfile .detailsSection .pokemonTypes {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    /*color: whitesmoke;*/
    /*text-shadow: 1px 1px 1px rgb(0 0 0 / 0.4);*/
}

.pokemonProfile .detailsSection .pokemonDescription {
    margin: 20px 10px;
    font-size: 18px;
    color: #3a3a3a;
}

.pokemonProfile .detailsSection .pokemonStats {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block: 40px;
    padding: 0 20px;
    font-size: 18px;
}

.pokemonProfile .detailsSection .pokemonStats .pokemonStat {
    --value: 70%;
    --special-value: 70%;
    --z-index: 2;
    --special-z-index: 1;

    display: grid;
    grid-template-columns: auto 80%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.pokemonProfile .imageSection {
    position: relative;
    user-select: none;
}

.pokemonProfile .imageSection .pokemonImage {
    position: absolute;
    bottom: 20%;
}

.pokemonProfile .imageSection .favoriteBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    aspect-ratio: 1 / 1;
    margin: 40px;
}

.pokemonProfile .imageSection .favoriteBtn svg {
    width: 100%;
    height: 100%;
}

.pokemonProfile .imageSection .favoriteBtn path {
    fill: none;
    stroke: black;
    transition: all 200ms;
}

.filledHeart svg path {
    fill: crimson !important;
    stroke: none !important;
}

.strengthBar {
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: #f3f3f3;
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.strengthBar .strength, .strengthBar .s_strength {
    display: inline-block;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 10px;
}

.strengthBar .strength {
    width: var(--value);
    background-color: crimson;
    z-index: var(--z-index, 2);
}

.strengthBar .s_strength {
    width: var(--special-value);
    background-color: #ff8080;
    z-index: var(--special-z-index, 1);
}

.attributes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    width: 50%;
    border-radius: 5px;
    background: rgb(255, 255, 255, 0.40);
}

.infoBox {
    font-size: 17px;
    color: #3a3a3a;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoBox .infoValue {
    border: 2px solid #636363;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}